
.fixed-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
  }
  
  .search-button {
    background-color: #f8f9fa;
    border: none;
    padding: 8px;
    cursor: pointer;
    outline: none;
  }
/*   
  .suggestions-list {
    list-style-type: none;
    padding: 8px; 
    margin: 0;
    width: 40%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
   
    max-height: 200px;
    overflow-y: auto;
  } */
  
  .suggestions-list-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions-list-item:hover {
    background-color: #f0f0f0;
  }
  
  .highlight {
    background-color: yellow;
  }
  
  /* SearchBox.css */

  
  .search-button {
    width: 80px;
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions-list {
    
    width: 250px;
    max-height: 80px;
    overflow-y: auto;
  }
  
  .suggestions-list-item {
    
    padding: 8px;
    cursor: pointer;
  }
  
  .highlight {
    background-color: yellow;
  }
  
  /* Add more styles as needed */
  
  /* ... other styles */
  